{{!-- begin navbar section --}}
<nav id="api-navbar">
	<h1>The Round About</h1>
	<form action="/api-admin/logout" method="POST" id="logout-form">
		<button type="submit" id="api-logout-button">Log out</button>
	</form>
</nav>
{{!-- end navbar section --}}

{{!-- begin search sidebar section --}}
<aside id="api-sidebar">
	{{!-- <h3 class="api-form-section-label">Browse by:</h3> --}}
	<div class="search-form-control">
		<form action="/api-admin/albums/search/all" method="GET">
			<button type="submit" id="api-search-all-submit" class="api-search-form-button">Browse All Items</button>
		</form>
	</div>
	<h3 class="api-form-section-label">Filter:</h3>
	<form action="/api-admin/albums/search" method="GET">
		<div class="api-search-form-control">
			<label for="artist" class="api-filter-label">Artist</label><br>
			<input type="text" name="artist" class="api-filter" /><br>
			<label for="title" class="api-filter-label">Title</label><br>		
			<input type="text" name="title" class="api-filter" /><br>
			<label for="year" class="api-filter-label">Year</label><br>
			<input type="text" name="year" class="api-filter" /><br>
			<label for="genre" class="api-filter-label">Genre</label><br>		
			<input type="text" name="genre" class="api-filter" /><br>
			<label for="format" class="api-filter-label">Format (7 or 12)<br></label>
			<input type="text" name="format" class="api-filter" /><br>
			<label for="quantity" class="api-filter-label">Quantity (number)</label><br>
			<input type="number" name="quantity" class="api-filter" /><br>
			<label for="isStaffPick" class="api-filter-label">isStaffPick (true or false, lowercase)</label><br>
			<input type="text" name="isStaffPick" class="api-filter" id="isStaffPick-input" /><br>
		</div>

		<div class="api-search-form-control" id="api-filter-submit-button-container">
			<button type="submit" id="api-search-submit" class="api-search-form-button" onclick="formValidation()">Search</button>
		</div>
	</form>

	<h3 class="api-form-section-label">Add New Item:</h3>
	<form action="/api-admin/albums/create" method="POST" id="add-new-album">
		<div class="api-search-form-control">
			<label for="artist" class="api-filter-label">Artist</label><br>
			<input type="text" name="artist" class="api-filter" /><br>
			<label for="title" class="api-filter-label">Title</label><br>		
			<input type="text" name="title" class="api-filter" /><br>
			<label for="year" class="api-filter-label">Year</label><br>
			<input type="text" name="year" class="api-filter" /><br>
			<label for="genre" class="api-filter-label">Genre</label><br>		
			<input type="text" name="genre" class="api-filter" /><br>
			<label for="format" class="api-filter-label">Format (7 or 12)<br></label>
			<input type="text" name="format" class="api-filter" /><br>
			<label for="quantity" class="api-filter-label">Quantity (number)</label><br>
			<input type="number" name="quantity" class="api-filter" /><br>
			<label for="isStaffPick" class="api-filter-label">isStaffPick (true or false, lowercase)</label><br>
			<input type="text" name="isStaffPick" class="api-filter" /><br>
		</div>

		<div class="api-search-form-control" id="api-create-submit-button-container">
			<button type="submit" id="api-add-new-album-submit" class="api-search-form-button">Add New Item</button>
		</div>
	</form>
</aside>
{{!-- end search sidebar section --}}

{{!-- begin search results section --}}
<section id="api-search-results">
	{{#if noResMessage}}
	<div class="api-no-results-message-container">
		<p class="api-no-results-message">{{noResMessage}}</p>
	</div>
	{{/if}}

	{{#if deletedAlbum}}
	<div class="api-deleted-album-message-container">
		<p class="api-deleted-album-message">The following album was deleted from the database:</p>
		<p class="api-deleted-album-details">Album ID: {{deletedAlbum._id}}</p>
		<p class="api-deleted-album-details">Album Artist: {{deletedAlbum.artist}}</p>
		<p class="api-deleted-album-details">Album Title: {{deletedAlbum.title}}</p>
	</div>

	<form action="/api-admin/albums/create" method="POST">
		<input class="api-search-results-album-artist api-search-results-label" value="{{deletedAlbum.artist}}" name="artist" type="hidden" /><br>
		<input class="api-search-results-album-title api-search-results-label" value="{{deletedAlbum.title}}" name="title" type="hidden" /><br>
		<input class="api-search-results-album-year api-search-results-label" value="{{deletedAlbum.year}}" name="year" type="hidden" /><br>
		<input class="api-search-results-album-genre api-search-results-label" value="{{deletedAlbum.genre}}" name="genre" type="hidden" /><br>
		<input class="api-search-results-album-price api-search-results-label" value="{{deletedAlbum.price}}" name="price" type="hidden" /><br>
		<input class="api-search-results-album-format api-search-results-label" value="{{deletedAlbum.format}}" name="format" type="hidden" /><br>
		<input class="api-search-results-album-imgURL api-search-results-label" value="{{deletedAlbum.imgURL}}" name="imgURL" type="hidden" /><br>
		<input class="api-search-results-album-quantity api-search-results-label" value="{{deletedAlbum.quantity}}" name="quantity" type="hidden" /><br>
		<input class="api-search-results-album-isStaffPick api-search-results-label" value="{{deletedAlbum.isStaffPick}}" name="isStaffPick" type="hidden" />
		<p id="re-add-label">Didn't mean to delete that album?  Add it back to the database here:</p>
		<button type="submit" id="re-add-button">Re-add Album</button>
	</form>

	{{/if}}

	{{#if updatedAlbum}}
	<div class="api-updated-album-message-container">
		<p class="api-updated-album-message">Album updated; changes in the database are reflected below:</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Album ID:</span> {{updatedAlbum._id}}</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Album Artist:</span> {{updatedAlbum.artist}}</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Album Title:</span> {{updatedAlbum.title}}</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Album Year:</span> {{updatedAlbum.year}}</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Album Genre:</span> {{updatedAlbum.genre}}</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Album price:</span> {{updatedAlbum.price}}</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Album Format:</span> {{updatedAlbum.format}}</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Album imgURL:</span> {{updatedAlbum.imgURL}}</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Album Quantity:</span> {{updatedAlbum.quantity}}</p>
		<p class="api-updated-album-details"><span style="font-weight: 700;">Staff Pick?</span> {{updatedAlbum.isStaffPick}}</p>
	</div>
	{{/if}}

	{{#each albums}}
		<div class="api-search-result-item">
			<img src="{{this.imgURL}}" width="125px" height="125px" class="api-search-results-album-cover" alt="Album Cover">
			{{!-- <form action="/browse/{{this.id}}" method="GET" id="specific-album-form"> --}}
				{{!-- <input type="submit" class="search-results-album-title single-album-input" value="{{this.title}}"/><br>
				<input type="submit" class="search-results-artist single-album-input" value="{{this.artist}}"/><br>
				<input type="submit" class="search-results-year single-album-input" value="{{this.year}}"/><br>
				<input type="submit" class="search-results-price single-album-input" value="${{this.price}}" style="color: #f1c40f;"/> --}}
			{{!-- </form> --}}
			<div class="api-search-results-details-labels">
				<p class="api-search-results-input-label">Artist:</p><br/>
				<p class="api-search-results-input-label">Album Title</p><br/>
				<p class="api-search-results-input-label">Year:</p><br/>
				<p class="api-search-results-input-label">Genre:</p><br/>
				<p class="api-search-results-input-label">Price: $</p><br/>
				<p class="api-search-results-input-label">Format:</p><br/>
				<p class="api-search-results-input-label">Image URL:</p><br/>
				<p class="api-search-results-input-label">Quantity:</p><br/>
				<p class="api-search-results-input-label">Staff Pick</p>
			</div>
			<div class="api-search-results-details">
				<form action="/api-admin/albums/update/{{this.id}}?_method=PUT" method="POST">
					<input class="api-search-results-album-artist api-search-results-label" value="{{this.artist}}" name="artist"/><br>
					<input class="api-search-results-album-title api-search-results-label" value="{{this.title}}" name="title"/><br>
					<input class="api-search-results-album-year api-search-results-label" value="{{this.year}}" name="year"/><br>
					<input class="api-search-results-album-genre api-search-results-label" value="{{this.genre}}" name="genre"/><br>
					<input class="api-search-results-album-price api-search-results-label" value="{{this.price}}" name="price"/><br>
					<input class="api-search-results-album-format api-search-results-label" value="{{this.format}}" name="format"/><br>
					<input class="api-search-results-album-imgURL api-search-results-label" value="{{this.imgURL}}" name="imgURL"/><br>
					<input class="api-search-results-album-quantity api-search-results-label" value="{{this.quantity}}" name="quantity"/><br>
					<input class="api-search-results-album-isStaffPick api-search-results-label" value="{{this.isStaffPick}}" name="isStaffPick"/>
				{{!-- </form> --}}
			{{!-- </div> --}}
			{{!-- <div class="api-search-results-buttons-container"> --}}
					<button type="submit" class="update-button">Update</button>
				</form>
			</div>
			<div class="api-search-results-buttons-container">
				<form action="/api-admin/albums/delete/{{this.id}}?_method=DELETE" method="POST">
					<button type="submit" class="delete-button">Delete</button>
				</form>
			</div>
		</div>
	{{/each}}
</section>
{{!-- end search results section --}}