{{!-- begin navbar section --}}
<nav id="navbar">
	<h1>The Round About</h1>
	<div id="nav-links">
		<a href="/"><p class="home-link nav-link">Home</p></a>
		<a href="#"><p class="browse-link nav-link">Browse Inventory</p></a>
		<a href="/events"><p class="events-link nav-link">Events</p></a>
	</div>
</nav>
{{!-- end navbar section --}}

{{!-- begin header section --}}
<section id="header">
	<h3>Browse Inventory at The Round About</h3>
	<p>Vinly sounds better.  Period.  It’s warmer, more nostalgic, and you can hold it in your hands.  At The Round About, we want you to experience your music.</p>
</section>
{{!-- end header section --}}

{{!-- begin search sidebar section --}}
<aside id="search-sidebar">
	<h3>Browse by:</h3>
	<div class="search-form-control">
		<form action="/browse/all" method="GET">
			<button type="submit" id="search-all-submit" class="search-form-button">Browse All Items</button>
		</form>
	</div>
	
	<form action="/browse/search" method="GET" id="browse-options">

		<div class="search-form-control" id="format-container">
			<p id="format-label">Format:</p>
			<input type="radio" name="format" value="7" class="filter format-filter" />&nbsp;&nbsp;7''<br><br>
			<input type="radio" name="format" value="12" class="filter format-filter" />&nbsp;&nbsp;12''
		</div>

		<p id="genre-label">Genre:</p>
		<div class="search-form-control" id="radio-left">
			<input type="radio" name="genre" value="Blues" class="filter" />&nbsp;&nbsp;Blues<br><br>
			<input type="radio" name="genre" value="Comedy" class="filter" />&nbsp;&nbsp;Comedy<br><br>
			<input type="radio" name="genre" value="Country" class="filter" />&nbsp;&nbsp;Country<br><br>
			<input type="radio" name="genre" value="Electronic" class="filter" />&nbsp;&nbsp;Eletronic<br><br>
			<input type="radio" name="genre" value="Emo" class="filter" />&nbsp;&nbsp;Emo<br><br>
			<input type="radio" name="genre" value="Folk" class="filter" />&nbsp;&nbsp;Folk<br><br>
			<input type="radio" name="genre" value="Funk" class="filter" />&nbsp;&nbsp;Funk<br><br>
			<input type="radio" name="genre" value="Indie" class="filter" />&nbsp;&nbsp;Indie
		</div>

		<div class="search-form-control" id="radio-right">
			<input type="radio" name="genre" value="Jazz" class="filter" />&nbsp;&nbsp;Jazz<br><br>
			<input type="radio" name="genre" value="Pop" class="filter" />&nbsp;&nbsp;Pop<br><br>
			<input type="radio" name="genre" value="Punk" class="filter" />&nbsp;&nbsp;Punk<br><br>
			<input type="radio" name="genre" value="Reggae" class="filter" />&nbsp;&nbsp;Reggae<br><br>
			<input type="radio" name="genre" value="Rap" class="filter" />&nbsp;&nbsp;Rap<br><br>
			<input type="radio" name="genre" value="Rock" class="filter" />&nbsp;&nbsp;Rock<br><br>
			<input type="radio" name="genre" value="Soul" class="filter" />&nbsp;&nbsp;Soul<br><br>
			<input type="radio" name="genre" value="Soundtrack" class="filter" />&nbsp;&nbsp;Soundtrack
		</div>

		{{!-- <div class="search-form-control">
			<p id="price-label">Price:</p>
			<input type="radio" name="price" value=""
		</div> --}}

		<div class="search-form-control" id="filter-submit-button-container">
			<button type="submit" id="search-submit" class="search-form-button">Search</button>
			<button type="reset" id="clear-filters" class="search-form-button">Clear Filters</button>
		</div>

	</form>
</aside>
{{!-- end search sidebar section --}}

{{!-- begin search results section --}}
<section id="search-results">
	{{#each albums}}
		<div class="search-result-item">
			<img src="{{this.imgURL}}" width="125px" height="125px" class="search-results-album-cover" alt="Album Cover">
			<form action="/browse/{{this.id}}" method="GET" id="specific-album-form">
				<input type="submit" class="search-results-album-title single-album-input" value="{{this.title}}"/><br>
				<input type="submit" class="search-results-artist single-album-input" value="{{this.artist}}"/><br>
				<input type="submit" class="search-results-year single-album-input" value="{{this.year}}"/><br>
				<input type="submit" class="search-results-price single-album-input" value="${{this.price}}" style="color: #f1c40f;"/>
			</form>
		</div>
	{{/each}}

	{{#unless albums}}
	<div class="no-results-message-container">
		<p class="no-results-message">{{this.message}}</p>
	</div>
	{{/unless}}
</section>
{{!-- end search results section --}}

{{!-- begin footer section --}}
<footer id="footer-section">
	<div id="social-links-container">
		<div class="social-link"><a href="https://www.facebook.com/theroundaboutstore/?hc_ref=SEARCH&amp;fref=nf" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-fb.png"></a></div>
		<div class="social-link"><a href="https://www.instagram.com/roundaboutstore/?hl=en" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-instagram.png"></a></div>
		<div class="social-link"><a href="https://twitter.com/rickrez22" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-twitter.png"></a></div>
	</div>
	<div id="copyright-container">
		<h6>&copy; <a href="http://www.derricksuarez.com/" target="_blank" rel="noopener noreferrer">Derrick Suarez 2016</a></h6>
	</div>
</footer>
{{!-- end footer section --}}