{{!-- begin navbar section --}}
<nav id="navbar">
	<div id="browse-h1-container">
		<h1>The Round About</h1>
	</div>
	<div id="nav-links">
		<a href="/"><p class="home-link nav-link">Home</p></a>
		<a href="#"><p class="browse-link nav-link" id="browse-inventory-link" style="color: #f1c40f;">Browse Inventory</p></a>
		<a href="/events"><p class="events-link nav-link">Events</p></a>
	</div>
</nav>
{{!-- end navbar section --}}

{{!-- begin header section --}}
<section id="header">
	<h3>Browse Inventory at <span id="tra-browse-header">The Round About</span></h3>
	<p>Vinly sounds better.  Period.  It’s warmer, more nostalgic, and you can hold it in your hands.  At The Round About, we want you to experience your music.</p>
</section>
{{!-- end header section --}}

{{!-- begin search sidebar section --}}
<aside id="search-sidebar">
	<div class="search-form-control">
		<form action="/browse/all" method="GET">
			<button type="submit" id="search-all-submit" class="search-form-button">Browse All Items<br><span id="incl-out-stock-msg">(includes items not in stock)</span></button>
		</form>
		<form action="/browse/in-stock" method="GET">
			<button type="submit" id="search-in-stock-submit" class="search-form-button">Browse In-Stock Items</button>
		</form>
	</div>
	<p id="scroll-down-message">(scroll down for results)</p>
	<h3>Filter search by:</h3>
	<form action="/browse/search" method="GET" id="browse-options">
		<div class="search-form-control" id="format-container">
			<p id="format-label">Format:</p>
			<input type="radio" name="format" value="7" class="filter format-filter" />&nbsp;&nbsp;<span class="radio-format-option-label">7</span>''
			<input type="radio" name="format" value="12" class="filter format-filter" id="twelve-format-input" />&nbsp;&nbsp;<span class="radio-format-option-label">12</span>''
		</div>

		<div id="genre-section-wrapper">
			<p id="genre-label">Genre:</p>
			<div class="search-form-control" id="radio-left">
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Blues" class="filter" /><span class="radio-option-label">Blues</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Comedy" class="filter" /><span class="radio-option-label">Comedy</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Country" class="filter" /><span class="radio-option-label">Country</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Electronic" class="filter" /><span class="radio-option-label">Eletronic</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Emo" class="filter" /><span class="radio-option-label">Emo</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Folk" class="filter" /><span class="radio-option-label">Folk</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Funk" class="filter" /><span class="radio-option-label">Funk</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Indie" class="filter" /><span class="radio-option-label">Indie</span>
				</div>
			</div>

			<div class="search-form-control" id="radio-right">
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Jazz" class="filter" /><span class="radio-option-label">Jazz</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Pop" class="filter" /><span class="radio-option-label">Pop</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Punk" class="filter" /><span class="radio-option-label">Punk</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Reggae" class="filter" /><span class="radio-option-label">Reggae</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Rap" class="filter" /><span class="radio-option-label">Rap</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Rock" class="filter" /><span class="radio-option-label">Rock</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Soul" class="filter" /><span class="radio-option-label">Soul</span>
				</div>
				<div class="genre-radio-label-group">
					<input type="radio" name="genre" value="Soundtrack" class="filter" /><span class="radio-option-label">Soundtrack</span>
				</div>
			</div>
		</div>
			<div class="search-form-control" id="filter-submit-button-container">
				<button type="submit" id="search-submit" class="search-form-button">Search</button>
				<button type="reset" id="clear-filters" class="search-form-button">Clear Filters</button>
			</div>
	</form>
</aside>
{{!-- end search sidebar section --}}

{{!-- begin search results section --}}
<section id="search-results">

{{#if inStockAlbums}}
	{{#each inStockAlbums}}
		<div class="search-result-item">
			<img src="{{this.albumCover}}" width="125px" height="125px" class="search-results-album-cover" alt="Album Cover">
			<form action="/browse/{{this.id}}" method="GET" id="specific-album-form">
				<p class="search-results-album-title">{{this.title}}</p>
				<p class="search-results-artist">{{this.artist}}</p>
				<p class="search-results-year">{{this.year}}</p>
				<p class="search-results-quantity">Quantity: {{this.quantity}}</p>
				<p class="search-results-price">${{this.price}}</p>
				<button type="submit" class="view-album-details-button">View album details</button>
			</form>
		</div>
	{{/each}}
{{/if}}

	{{#each albums}}
		<div class="search-result-item">
			<img src="{{this.albumCover}}" width="125px" height="125px" class="search-results-album-cover" alt="Album Cover">
			<form action="/browse/{{this.id}}" method="GET" id="specific-album-form">
				
				<p class="search-results-album-title">{{this.title}}</p>
				<p class="search-results-artist">{{this.artist}}</p>
				<p class="search-results-year">{{this.year}}</p>
				<p class="search-results-quantity">Quantity: {{this.quantity}}</p>
				<p class="search-results-price">${{this.price}}</p>
				<button type="submit" class="view-album-details-button">View album details</button>
			</form>
		</div>
	{{/each}}

	{{#unless albums}}
	<div class="no-results-message-container">
		<p class="no-results-message">{{this.message}}</p>
	</div>
	{{/unless}}
</section>
{{!-- end search results section --}}

{{!-- begin footer section --}}
<footer id="footer-section">
	<div id="social-links-container">
		<div class="social-link"><a href="https://www.facebook.com/theroundaboutstore/?hc_ref=SEARCH&amp;fref=nf" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-fb.png" class="social-link-image"></a></div>
		<div class="social-link"><a href="https://www.instagram.com/roundaboutstore/?hl=en" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-instagram.png" class="social-link-image"></a></div>
		<div class="social-link"><a href="https://twitter.com/rickrez22" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-twitter.png" class="social-link-image"></a></div>
	</div>
	<div id="copyright-container">
		<h6>&copy; <a href="http://www.derricksuarez.com/" target="_blank" rel="noopener noreferrer">Derrick Suarez 2016</a></h6>
	</div>
</footer>
{{!-- end footer section --}}