<div id="single-album-cover-container">
	<img src="{{this.album.albumCover}}" width="500px" height="500px" alt="Album Cover" id="single-album-cover">
</div>

<div id="single-album-details-container">
	<p id="single-album-title">{{this.album.title}}</p>
	<p id="single-album-artist">{{this.album.artist}}</p>
	<p id="single-album-year">{{this.album.year}}</p>
	<p id="single-album-genre">{{this.album.genre}}</p>
	<p id="single-album-price">${{this.album.price}}</p>
	<p id="single-album-format">{{this.album.format}}"</p>
	<p id="single-album-quantity">Quantity: {{this.album.quantity}}</p>
</div>

<div id="back-button-container">
	<button id="go-back" onclick="goBack()">Back</button>
</div>

<script>
function goBack() {
	window.history.back();
};
</script>